@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    padding: 0;
    margin: 0;
}


.nav{
    box-sizing: border-box;
    background-color: white;
    border: rgba(255, 255, 255, 0.856) 3px solid;
    box-shadow: rgb(224, 223, 223) 0px 5px 10px 2px;
}

.nav-logo{
    display: inline-block;
    margin: 0 0 -71px 0;
    height: 100px;

}

.nav-list{
    list-style-type: none;
    text-align: right;
}


.nav-list-item{
    display: inline-flex;
    margin: 0 30px 20px 70px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    float: none;
    
}

.nav-list-item a{
    color: rgb(129, 127, 127);
    text-decoration: none;
}

.nav-list-item a:hover{
    color: rgb(37, 233, 125);
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    color: rgb(129, 127, 127);
    font-size: xx-large;
    background-image: url(./IMG/Sky-night-rotation-space-background.webp);
}

.title-img{
    margin-top: 50px;
    opacity: .8;
    max-width: 20%;
    height: auto;
    border-radius: 50%;
}

.titl{
    margin: 0 0 0 0;
}

/*  .container{
    border: 5px solid;
    display: flex;
    float: left;
    align-items: center;
    font-family: 'Varela Round', sans-serif;;
    color: rgb(133, 133, 133);
    margin: 0 auto;
    transform: scale(.5);
    margin: 0px 30px 50px 0px;
}

.container-svg{
    
}

.container-text{
    font-size: 35px;
    text-align: right;
}
 */


.container{
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 120px;
    display: flex;
    float: left;
    align-items: center;
    text-align: center;
   
}

.container-svg{
    max-width: 50%;
    height: auto;

}

.container-text{
    font-family: 'Varela Round', sans-serif;;
    color: rgb(133, 133, 133);
    font-size: 50px;
}

.info{
    font-family: 'Varela Round', sans-serif;;
    display: block;
}

.info-title{
    font-size: 50px;
}

.info-text{
    font-size: 20px;
}